html {
    background-color: aquamarine
}

.retangulo1 {
    background-color: antiquewhite;
    height: 85px;
    width: 1920px;
    display: flex;
}

.logo {
    height: 75px;
    width: 100px;
    position: relative;
    left: 10px;
}

body {
    margin: 0px;
}

.inicio {
    font-size: 25px;
    position: relative;
    left: 80px;
}

.produtos {
   font-size: 25px;
    position: relative;
    left: 200px; 
}

.avali {
    font-size: 25px;
    position: relative;
    left: 300px; 
}

.marca {
    font-size: 25px;
    position: relative;
    left: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}